<footer class="center">
  <div class="footer-copyright black darken-2">
    <div class="container white-text center">
      Stay Connected
    </div>
    <div class="container white-text center">
      <a href="https://www.facebook.com/radicaltechart/?fref=ts" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a href="#"><i class="fa fa-linkedin-square"></i></a>
      <a href="#"><i class="fa fa-google-plus-square"></i></a>
      <a href="#"><i class="fa fa-twitter-square"></i></a>
    </div>
    <div class="container white-text center">
      2017 © Radical TechArt Pvt. Ltd. All Rights Reserved.
    </div>
  </div>
</footer>
