<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <img class="logo" src="../assets/R.png" alt="">
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/home" class="clr_black">Home</a></li>
        <li><a routerLink="/about" class="clr_black">About</a></li>
        <li><a routerLink="/portfolio" class="clr_black">Portfolio</a></li>
        <li><a routerLink="/contact" class="clr_black">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a routerLink="/home"  class="clr_black">Home</a></li>
        <li><a routerLink="/about" class="clr_black">About</a></li>
        <li><a routerLink="/portfolio" class="clr_black">Portfolio</a></li>
        <li><a routerLink="/contact" class="clr_black">Contact</a></li>
      </ul>
      <span class="test">
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </span>
    </div>
  </nav>
</div>
